<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${post.hasPoll ? '[투표] ' + post.post.title : post.post.title}"></title>

    <meta property="og:type" content="article" />

    <meta property="og:title" th:content="${post.hasPoll ? '[투표 진행 중] ' + post.post.title : post.post.title}" />

    <meta property="og:description"
          th:content="${post.hasPoll ? '지금 투표에 참여해보세요! - ' + post.post.description : post.post.description}" />

    <meta property="og:image" th:content="${post.post.imageURL != null ? post.post.imageURL : 'https://workly.info/workly-info.jpeg'}" />

    <meta property="og:url" th:content="${'https://workly.info/post/' + post.post.id}" />
</head>
<body>
</body>
</html>